<%= form_tag user_sessions_path, :method => :post, :class => 'form-inline' do %>
  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>
  <br />
  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>
  <br />
  <div class="actions">
    <%= submit_tag "Login", :class => 'btn-primary' %>
    <%= check_box_tag :remember %> <%= label_tag "keep me logged in" %>
  </div>
<% end %>
