<h3>Login</h3>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<%= render 'form' %>
<br />
<br />
<h3>Forgot Password?</h3>
<%= render 'forgot_password_form' %>

<%= link_to 'Back', root_path %>
